*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;

}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
display: flex;
flex-wrap: wrap;

}

.flex-item-1 {
flex: 1;
}

/* Flex Item */
.item {
    
    margin: 7px; 
    background: bisque;
    text-align: center;
    font-size: 1.5em;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    
}

h3 {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.25em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    background-color: black;

}


footer{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
html body section.container.flex div.item.flex-item-1 a img{
    backdrop-filter: blur(2px);
}

img:hover{
    transition: 0.3s;
    filter: grayscale();
}